Hitesh's Notes
.venv
.env
.pydantic
.ds
venv
.web
images
quotes
crypto_prices.csv
crypto.db
time.pdf
weather_logs.csv
nested_data.json
weather_logs_json.json
data_json.json
converted.csv
.env_data
youtube_comments.csv
experience_salary.csv
books.csv